<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
    <!-- css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/board-main.css}" >

    <!-- js -->
    <!--    <script type="text/javascript" th:src="@{/js/test.js}"></script>-->
</head>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">

                    <div class="ibox-content forum-container">

                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="forum-icon">
                                        <i class="fa fa-bookmark"></i>
                                    </div>
                                    <a href="forum_post.html" class="forum-item-title">Project 1</a>
                                    <div class="forum-sub-title">Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</div>
                                </div>
                                <div class="col-md-2 forum-info">
                                    <div>
                                        <small>Date created</small>
                                    </div>
                                    <span class="views-number">
                                12/01/2017
                            </span>

                                </div>
                                <div class="col-md-2 forum-info">
                                    <div>
                                        <small>Writer</small>
                                    </div>
                                    <span class="views-number">
                                90
                            </span>

                                </div>
                                <div class="col-md-1 forum-info">
                            <span class="views-number">
                              <span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                            </span>

                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="forum-icon">
                                        <i class="fa fa-bookmark"></i>
                                    </div>
                                    <a href="forum_post.html" class="forum-item-title">Project 1</a>
                                    <div class="forum-sub-title">Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</div>
                                </div>
                                <div class="col-md-2 forum-info">
                                    <div>
                                        <small>Créé le </small>
                                    </div>
                                    <span class="views-number">
                                12/01/2017
                            </span>

                                </div>
                                <div class="col-md-2 forum-info">
                                    <div>
                                        <small>Stats</small>
                                    </div>
                                    <span class="views-number">
                                90
                            </span>

                                </div>
                                <div class="col-md-1 forum-info">
                            <span class="views-number">
                              <span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                            </span>

                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="forum-icon">
                                        <i class="fa fa-bookmark"></i>
                                    </div>
                                    <a href="forum_post.html" class="forum-item-title">Project 1</a>
                                    <div class="forum-sub-title">Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</div>
                                </div>
                                <div class="col-md-2 forum-info">
                                    <div>
                                        <small>Créé le </small>
                                    </div>
                                    <span class="views-number">
                                12/01/2017
                            </span>

                                </div>
                                <div class="col-md-2 forum-info">
                                    <div>
                                        <small>Stats</small>
                                    </div>
                                    <span class="views-number">
                                90
                            </span>

                                </div>
                                <div class="col-md-1 forum-info">
                            <span class="views-number">
                              <span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                            </span>

                                </div>
                            </div>
                        </div>

                        <!-- pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="board_pagination pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>